extends layout
block content
  h1= title
  if (toShow == null) 
    h2 No instance to update 
  else
  - let houseid = toShow._id
  - let house_bedrooms = toShow.house_bedrooms
  - let house_rent = toShow.house_rent
  - let house_address = toShow.house_address
  - let actionid = "/resource/house/" + houseid
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{houseid} 
  form(id='HouseForm', action=actionid, method="PUT")
   div.form-group
    label.houseAttr(for='house_bedrooms') House Bedrooms
    input#house_bedrooms(type='number', name='house_bedrooms')
   div.form-group
    label.houseAttr(for='house_rent') House rent
    input#house_rent(type='number', name='house_rent')
   div.form-group
    label.houseAttr(for='house_address') House address
    input#house_address(type='text', name='house_address')
   input(type="submit")
  script.
    document.forms['HouseForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
       method: 'PUT',
       body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
       return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
       alert("Save succeded")
       // TODO handle body
      }).catch((error) => {
       // TODO handle error
       alert("Save failed " + error )
      });
     });