extends layout
block content
  h1= title
  form(id='HouseForm', action="/resource/house", method="POST")
   div.form-group
    label.hs(for='house_bedrooms') House bedrooms
    input#house_bedrooms(type='number', name='house_bedrooms')
   div.form-group
    label.hs(for='house_rent') House rent
    input#house_rent(type='number', name='house_rent')
   div.form-group
    label.hs(for='house_address') House Address
    input#house_address(type='text', name='house_address')
   input(type="submit")
  script.
    document.forms['HouseForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
       method: 'POST',
       body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
       return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
       alert("Save succeded")
       // TODO handle body
      }).catch((error) => {
       // TODO handle error
       alert("Save failed " + error )
      });
     });